// COLOR VARIABLES

$color-background: #f5f6fa;
$color-primary: #fafafa;
$color-black: #121212;
$color-blue-buttons: #0290ff;
$color-blue-text: #4386bf;
$color-gray-category: #888888;
$color-gray-light: #e8e8e8;
$color-gray-selections: #c4c4c4;
$color-white: #fff;

// FONTS

$font-roboto: 'Roboto Slab', serif;
$font-montserrat: 'Montserrat', sans-serif;


